***For loop***

In [6]:
#Question1: Create a list of all numbers between 1 and 100 that are divisible by both 3 and 5.

numbers = []

for i in range(1,101):
  if i%3 == 0 and i%5 == 0:
    numbers.append(i)

print ("Numbers divisible by both 3 and 5: ", numbers)

Numbers divisible by both 3 and 5:  [15, 30, 45, 60, 75, 90]

In [10]:
#Question2: Write a loop that replaces all spaces in a string with underscores.

text = "Bahria College Karsaz"
result = ""

for i in text:
    if i == " ":
        result += "_"
    else:
        result += i

print(result)

Bahria_College_Karsaz

In [15]:
#Question3: Check which elements are common in two lists.

#FIRST METHOD (duplicates allowed)

list_1 = [1,2,5,7,4,3,2,5,6]
list_2 = [5,5,7,3,2,1,5,7,4]
common_elements = []
for i in list_1:
  if i in list_2:
    common_elements.append(i)
for i in list_2:
  if i in list_1:
    common_elements.append(i)

print (common_elements)

#SECOND METHOD (duplicates not allowed)

list_1 = [1, 2, 5, 7, 4, 3, 2, 5, 6]
list_2 = [5, 5, 7, 3, 2, 1, 5, 7, 4]
common_elements = []

for i in list_1:
    if i in list_2:
        if i not in common_elements:
            common_elements.append(i)

print(common_elements)

[1, 2, 5, 7, 4, 3, 2, 5, 5, 5, 7, 3, 2, 1, 5, 7, 4]
[1, 2, 5, 7, 4, 3]

***While loop***

In [18]:
#Question1:Keep removing elements from a list one by one and print the list each time, until it becomes empty.

abc = [1,2,3,4,5,6,7,8]
print (abc)
while abc:
  abc.pop(0)
  print (abc)

[1, 2, 3, 4, 5, 6, 7, 8]
[2, 3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8]
[5, 6, 7, 8]
[6, 7, 8]
[7, 8]
[8]
[]

In [22]:
#Question2: Start from a number and keep dividing it by 2 until it becomes less than 1. Print each value.

numb = 100
while numb > 1:
  print (numb)
  numb = numb/2

100
50.0
25.0
12.5
6.25
3.125
1.5625

In [25]:
#Question3: Ask the user to enter numbers until the total sum crosses 100.

total = 0

while total <= 100:
    num = int(input("Enter a number: "))
    total += num

print("Total crossed 100! Final total:", total)

Enter a number: 77
Enter a number: 77
Total crossed 100! Final total: 154